# Variables para entorno local
DB_USER=tu_usuario_local
DB_PASSWORD=tu_password_local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=libros_db

# Variable para Vercel / Producción
DATABASE_URL=postgresql://usuario:password@host:5432/basededatos
NODE_ENV=production
PORT=3000